<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 配置注解驱动 可以将request参数与绑定到controller参数上 -->
    <!--    <mvc:annotation-driven/>-->

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <!-- 处理responseBody 里面日期类型 -->
                        <!--   <property name="dateFormat">
                              <bean class="java.text.SimpleDateFormat">
                                  <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
                              </bean>
                          </property>  -->
                        <!-- 为null字段时不显示 -->
                        <!--                        <property name="serializationInclusion">-->
                        <!--                            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value>-->
                        <!--                        </property>-->
                        <property name="propertyNamingStrategy">
                            <!--<bean class="com.xxx.serializer.MyPropertyNamingStrategyBase" />-->
                            <bean class="com.fasterxml.jackson.databind.PropertyNamingStrategy.SnakeCaseStrategy"/>
                        </property>
                    </bean>
                </property>
                <!--                <property name="supportedMediaTypes">-->
                <!--                    <list>-->
                <!--&lt;!&ndash;                        <value>text/html;charset=UTF-8</value>&ndash;&gt;-->
                <!--                        <value>application/json; charset=UTF-8</value>-->
                <!--                    </list>-->
                <!--                </property>-->
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:component-scan base-package="com.bear.springmvc4test.controller"/>
    <context:component-scan base-package="com.bear.springmvc4test.component"/>
    <context:component-scan base-package="com.bear.springmvc4test.config"/>

    <bean id="dispatchServletContextLoaderListenerDuplicateDefineBean"
          class="com.bear.springmvc4test.component.DispatchServletContextLoaderListenerDuplicateDefineBean">
        <constructor-arg value="DispatchServlet"/>
        <property name="name"
                  value="DispatchServlet:DispatchServletContextLoaderListenerDuplicateDefineBean"></property>
    </bean>

    <bean id="dispatchServletContextLoaderListenerDemo"
          class="com.bear.springmvc4test.controller.DispatchServletContextLoaderListenerDemo"></bean>

</beans>